<a href="https://colab.research.google.com/github/eh1322005/Python-problem_solving/blob/main/Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Strings:

In [ ]:
#1:
n=input()
print(len(n))

ali
3

In [ ]:
#1:
#another way:
text=input()
count = 0
for letter in text:
    count += 1
print("Length using loop:", count)

ali
Length using loop: 3

In [ ]:
#2:
n=input()
if len(n)>2:
  print(n[:2] + n[-2:])
else:
  print("")

ahmed
ahed

In [ ]:
#3:
n=input()
if len(n)>=3:
  if n[-3:]=="ing":
    print(n+"ly")
  else:
    print(n+"ing")
else:
  print("leave it unchanged")

sring
sringly

In [ ]:
#4:
n=['ali','ahmed','o']
longest=max(n,key=len)
print("longest word:",longest)
print("length of longest word:",len(longest))

longest word: ahmed
length of longest word: 5

In [ ]:
#5:/
text = "abdelrahman"
first = text[0]
last = text[-1]
middle = text[1:-1]
print(last + middle + first)

nbdelrahmaa

In [ ]:
#6:/
text = "abcdefg"
print(text[::2])

aceg

In [ ]:
#7 :     "important"
#split function("from sentance to words")


sentance="amr and ahmed are frindes but amr is the tallest Expected Result)"
words=sentance.split()
for word in words:
  print(f"{word} occures {words.count(word)} times")

amr occures 2 times
and occures 1 times
ahmed occures 1 times
are occures 1 times
frindes occures 1 times
but occures 1 times
amr occures 2 times
is occures 1 times
the occures 1 times
tallest occures 1 times
Expected occures 1 times
Result) occures 1 times

Basics:

In [ ]:
#8:
n=input()
print(n.upper())
print(n.lower())

ali
ALI
ali

In [ ]:
#9:
string=input()
if len(string)%4==0:
  print(string[::-1])
else:
  print(string)

omar
ramo

In [ ]:
#10:///
text = "Hello World\n"
print(text.replace("\n", ""))

Hello World

In [ ]:
#11:
text = "Hello World"
if text[:5] == "Hello":
    print("Yes")
else:
    print("No")

Yes

In [ ]:
#16:
s=input()
print(s[::-1])

amr
rma

In [ ]:
#16:  "another way"
text = "hello"
reversed_text = ''.join(reversed(text))
print(reversed_text)

olleh

In [ ]:
#17:

In [ ]:
#18:

In [ ]:
#19:
text = "Eslam Hassan"
print(text.replace(" ", ""))

EslamHassan

In [ ]:
#20: " rule of Non-empty substring "   important


text = "omar"
x= len(text)
substrings_count = ( x* (x+ 1)) // 2
print(f"Number of non-empty substrings: {substrings_count}")

Number of non-empty substrings: 10

In [ ]:
#21:

list=["ali","ahmed","amr"]
list[0],list[-1]=list[-1],list[0]
print(list)

['amr', 'ahmed', 'ali']

In [ ]:
#22://"swap'important'"

my_list = [23, 65, 19, 90]
pos1 = 1
pos2 = 3

my_list[pos1], my_list[pos2] = my_list[pos2], my_list[pos1]

print(my_list)

[23, 90, 19, 65]

In [ ]:
#23:"search"



#Use len(): For most cases, len() is the preferred method due to its simplicity and efficiency.
#Use for loop: When you need to manually count elements, especially in educational contexts.
#Use sum(): For a functional programming approach to counting elements
#Use length_hint(): When dealing with iterators and needing an estimated length.
#Use NumPy's size: When working with NumPy array

List:

In [ ]:
#24:
list=[2,3,5,7,9]
max_value=max(list)
print(max_value)

9

In [ ]:
#25:
list=[2,3,5,7,9]
min_value=min(list)
print(min_value)

2

In [ ]:
#26:
list=[2,3,5,7,9]
if 2 in list:
  print("yes")
else:
  print("no")

yes

In [ ]:
#27:
list=[2,3,5,7,9]
list.clear()
print(list)

[]

In [ ]:
#27:
list=[2,3,5,7,9]
del list[:]
print(list)

In [ ]:
#28:            "remove duplicated using casting in to set"

lista = [1, 2, 2, 3, 4, 4, 5]
lista= list(set(lista))
print(lista)

[1, 2, 3, 4, 5]

In [ ]:
#29:

In [ ]:
#30:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_count = len(set(my_list))
print("Unique count:", unique_count)

Unique count: 5

In [ ]:
#31:Frequency greater than K

In [ ]:
#32: Strongest Neighbour

In [ ]:
#33:/// Combinations in the list

a, b, c = input().split()
print(a+b+c)
print(a+c+b)
print(b+a+c)
print(b+c+a)
print(c+a+b)
print(c+b+a)

1 2 3
123
132
213
231
312
321

In [ ]:
#34: Combinations in the list
test_list = [1, 2, 3]

print([test_list[0]])
print([test_list[0], test_list[1]])
print([test_list[0], test_list[1], test_list[2]])
print([test_list[1]])
print([test_list[1], test_list[2]])
print([test_list[2]])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

In [ ]:
#35:

In [ ]:
#36:///  "important"      "filter and lampada"

lst = [1, 1, 2, 3, 4, 5, 1, 2, 1]
print(list(filter(lambda x: x != 1, lst)))

[2, 3, 4, 5, 2]

In [ ]:
#37:///" very important"

list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print([list1[i] for i in list2])

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [ ]:
#38:   "GPt"                                               ""dont clear !!"""

test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

result = []
for tup in test_list:
    if tup.count(K) == N:
        result.append(tup)

print(result)

In [ ]:
#39://      "sorted by sorted and lampada functions"


array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
print("Sorted array specific to column 0:",sorted(array , key=lambda x:x[0] ))
print("Sorted array specific to column 1:", sorted(array, key=lambda x: x[1]))
print("Sorted array specific to column 2:",sorted(array , key=lambda x:x[2]))

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
#40:  "sorted dic by key or value"

my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(sorted(my_dict))    #by key
print(sorted(my_dict, key=my_dict.get))  #by value

['rajnish', 'ravi', 'sanjeev', 'suraj', 'yash']
['yash', 'rajnish', 'ravi', 'sanjeev', 'suraj']

In [ ]:
41:

In [ ]:
#42/:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result = {}
for i in (dic1, dic2, dic3):
    result.update(i)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#43:
my_dict = {'a': 1, 'b': 2, 'c': 3}

for key in my_dict:
    print(key, my_dict[key])

a 1
b 2
c 3

In [ ]:
#44:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#45:
my_dict = {'a': 5, 'b': 12, 'c': 3, 'd': 8}

print("Maximum Value:", max(my_dict.values()))
print("Minimum Value:", min(my_dict.values()))

Maximum Value: 12
Minimum Value: 3

In [ ]:
#46:"بشيل العناصر الفاضيه او اللي قيمتها none"      "important"
my_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
my_dict = dict(filter(lambda item: item[1] is not None, my_dict.items()))
print(my_dict)

{'c1': 'Red', 'c2': 'Green'}

In [ ]:
#47:
t=(2,3,6,9)
print(t[1])

3

In [ ]:
#48:" بيخلي كل قيمة في التوبل تروح للمتغير الخاص بيها. unpacking"
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a, b, c)

10 20 30

In [ ]:
#49:"add to tuple     convert to list"
my_tuple = (1, 2, 3)
temp_list = list(my_tuple)
temp_list.append(4)
my_tuple = tuple(temp_list)
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
#50///:"tuple to string "(join func)
my_tuple = ('H', 'e', 'l', 'l', 'o')
my_string = ''.join(my_tuple)
print(my_string)

Hello

In [ ]:
#51:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
#52:
my_tuple = (1, 2, 3, 4)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(4, 3, 2, 1)

In [ ]:
#53:

In [ ]:
#54:"string to tuple and print tuple"
my_string = "python 3.0"
my_tuple = tuple(my_string)
print("Original string:", my_string)
print("Convert the said string to a tuple:", my_tuple)

Original string: python 3.0
Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

In [ ]:
#55:

In [ ]:
#56:
set = {1, 2, 3}
set.add(4)
set.update([5, 6, 7])
print("Updated set:", set)

Updated set: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
#57:
set = {1, 2, 3, 4, 5}
set.remove(3)
print(set)

{1, 2, 4, 5}

In [ ]:
#58:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2
union = set1 | set2
difference = set1 - set2
symmetric_difference = set1 ^ set2
print("Intersection:", intersection)
print("Union:", union)
print("Difference:", difference)
print("Symmetric Difference:", symmetric_difference)

Intersection: {3, 4}
Union: {1, 2, 3, 4, 5, 6}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [ ]:
#59:
my_set = {10, 20, 30, 40, 50}
max_value = max(my_set)
min_value = min(my_set)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 50
Minimum value: 10

In [ ]:
#60: